@page "/huacales/Create"

@inject EntradasHuacalesServices entradasHuacalesServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Crear Entrada huacales</PageTitle>
<EditForm Model="entradasHuacales" OnInvalidSubmit="Guardar">
	<DataAnnotationsValidator />
	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header text-center">
				<h3 class="card-title"> Crear Entradas de Huacales</h3>
			</div>

			<div class="card-body">
				@*Nombre cliente*@
				<div class="mb-3">
					<label class="form-label"><strong>Nombre Cliente</strong></label>
					<InputText class="form-control" @bind-Value="entradasHuacales.NombreCliente" />
					<ValidationMessage For="@(() => entradasHuacales.NombreCliente)" />
				</div>


				@*Fecha*@
				<div class="mb-3">
					<label class="form-label"><strong>Fecha</strong></label>
					<InputDate class="form-control" @bind-Value="entradasHuacales.Fecha"></InputDate>
					<ValidationMessage For="@(() => entradasHuacales.Fecha)" />
				</div>

				@*Cantidad*@
				<div class="mb-3">
					<label class="form-label"><strong>Cantidad</strong></label>
					<InputNumber class="form-control" @bind-Value="entradasHuacales.Cantidad"></InputNumber>
					<ValidationMessage For="@(() => entradasHuacales.Cantidad)" />
				</div>

				@*Cantidad*@
				<div class="mb-3">
					<label class="form-label"><strong>Precio</strong></label>
					<InputNumber class="form-control" @bind-Value="entradasHuacales.Precio"></InputNumber>
					<ValidationMessage For="@(() => entradasHuacales.Precio)" />
				</div>

			</div>

			@*Footer*@
			<div class="card-footer text-center mt-2">
				<div class="btn-group">
					<button type="submit" class="btn btn-outline-success bi bi-check-circle" @onclick="Guardar" > Guardar</button>
					<a href="/huacales/index" class="btn btn-outline-secondary bi bi-arrow-bar-left"> Volver</a>
				</div>

			</div>

		</div>
	</div>

</EditForm>

@code {
	public EntradasHuacales entradasHuacales { get; set; } = new EntradasHuacales();

	public async Task Guardar()
	{
		var creado = await entradasHuacalesServices.Guardar(entradasHuacales);
		if(creado)
		{
			navigationManager.NavigateTo("/huacales/index");
		}
	}

}
